@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .hamburger div:first-child{
    @apply rotate-45 translate-y-[0.330rem]
  }

  .hamburger div:last-child{
    @apply -rotate-45 -translate-y-[0.330rem]
  }

  @layer base{
    .info-texto p{
      @apply my-5 text-base font-medium text-gray-800 dark:text-white text-justify leading-relaxed selection:bg-rose-300 dark:selection:bg-rose-700
    }

    .info-texto ul{
      @apply list-disc list-outside
    }

    .info-texto li{
      @apply ml-4 my-1 text-base font-medium text-gray-800 dark:text-white selection:bg-rose-300 dark:selection:bg-rose-700
    }
  } 

  @keyframes appear-x {
    0%, 100% {
      transform: translateX(100%);
      animation-timing-function: cubic-bezier(1,1,0,0);
    }
    99.99% {
      transform: none;
      animation-timing-function: cubic-bezier(1,1,0,0);
    }
  }
  @keyframes appear-x-1 {
    0%, 100% {
      transform: translateX(100%);
      animation-timing-function: cubic-bezier(1,1,0,0);
    }
    99.99% {
      transform: translateX(-50%);
      animation-timing-function: cubic-bezier(1,1,0,0);
    }
  }
  @keyframes appear-x-2 {
    0%, 100% {
      transform: translateX(100%);
      animation-timing-function: cubic-bezier(1,1,0,0);
    }
    99.99% {
      transform: translateX(-100%);
      animation-timing-function: cubic-bezier(1,1,0,0);
    }
  }
  @keyframes appear-x-3 {
    0%, 100% {
      transform: translateX(100%);
      animation-timing-function: cubic-bezier(1,1,0,0);
    }
    99.99% {
      transform: translateX(-150%);
      animation-timing-function: cubic-bezier(1,1,0,0);
    }
  }
  .animate-appear-x {
    animation: appear-x 2s;
  }
  .animate-appear-x-1 {
    animation: appear-x-1 2s;
  }
  .animate-appear-x-2 {
    animation: appear-x-2 2s;
  }
  .animate-appear-x-3 {
    animation: appear-x-3 2s;
  }

  @keyframes tik-tok {
    0%{
      transform: rotate(0deg);
    }
    20%{
      transform: rotate(45deg);
    }
    30%{
      transform: rotate(-45deg);
    }
    40%{
      transform: rotate(0deg);
    }
    50%{
      transform: rotate(45deg);
    }
    60%{
      transform: rotate(-45deg);
    }
    70%{
      transform: rotate(0deg);
    }
    80%{
      transform: rotate(45deg);
    }
    90%{
      transform: rotate(-45deg);
    }
    100%{
      transform: rotate(0deg);
    }
  }
  .animate-tik-tok {
    animation: tik-tok 2s linear infinite;
  }
}